LUMEN_CUSTOMER_NUMBER=
LUMEN_CLIENT_ID=
# Use one of the next three options for auth secret:
LUMEN_API_KEY=
LUMEN_CLIENT_SECRET=
LUMEN_BASIC_SECRET=
LUMEN_BILLING_ACCOUNT_ID=5-3ABCDE12
#
# Local dashboard authentication:
DASHBOARD_PASSPHRASE=
LUMEN_CONTACT_EMAIL=
LUMEN_CONTACT_NUMBER=
LUMEN_CONTACT_ROLE=
LUMEN_CONTACT_ORG=
LUMEN_CONTACT_NAME=
